{% extends "base.html" %}

{% block content %}
    {% load static %}
<section class="bg-secondary">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{% static 'account/img/undraw_profile.svg' %}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.username }}</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
            {% comment %} <div class="d-flex justify-content-center mb-2">
              <button  type="button" class="btn btn-primary" href="{% url 'dashboard' %}">Dashboard</button>
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1" href="{% url 'cours' %}">EDT</button>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nom d'utilisateur</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.username }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Niveau</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.study_level }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Matricule</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{ user.matricule }} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Status</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                {% if user.is_student %}
                  ETUDIANT
                
                {% elif user.is_teacher %}
                  ENSEIGNANT
                {% else %}
                  ADMIN
                {% endif %}
                </p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}