.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}


.nav.nav-pills {
  border-radius: 10px;
  border: 1px solid;
  border-color: #a9d3d7e6;
}



#image-logo {
  width: 120px;
}

#card-none {
  display: none;
}

#test {
  background: #ab3a3a17;
  height: auto;
  width: auto;
  border-radius: 10px;
}


#container-mt4_div {
  background: #67309d26;
  width: auto;
  text-align: center;
  margin: 40px;
  visibility: unset;
  display: grid;
  border-radius: 11px;
}

#row2-id {




}


#creat {
  background: #41556740;

  width: auto;
  display: none;
  margin: auto;
  border-radius: 8px;
}



.list-group-item {
  text-align: center;
}