{% extends "base.html" %}


{% block content %}

    <div class="container-fluid">

        <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Cours</h1>

                    <div class="row">

                        <div class="col-lg-3">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Créer un cours</h6>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <i class="center fa fa-plus-square"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Math</h6>
                                </div>
                                <div class="card-body">
                                    <video src="https://www.youtube.com/watch?v=50klx9Q5ls8&t=492" autoplay="false">
                                        TEST
                                    </video>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

    <div>

{% endblock content %}