{% extends "base.html" %}


{% block content %}


            <div class="container-fluid">
    <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Notes</h1>
                
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Note de {{ user.username }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Niveau</th>
                                            <th>Matière</th>
                                            <th>Note</th>
                                            <th>Coef</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Niveau</th>
                                            <th>Matière</th>
                                            <th>Note</th>
                                            <th>Coef</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- /.container-fluid -->

{% endblock content %}