{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'courses/headers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'courses/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'courses/srcipt.js' %}"></script>
    <script type="text/javascript" src="{% static 'courses/main.js' %}"></script> {% endcomment %}
     <!-- Custom fonts for this template-->
     <link href="{% static 'account/css/inscription.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'account/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script type="text/javascript" src="{% static 'courses/js/base.js' %}"></script>
    <!-- Custom styles for this template-->
    <link href="{% static 'courses/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'account/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'courses/vendor/jquery/jquery.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'account/js/inscription.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'courses/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    
</head>

<body class="bg-light">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
      <div class="container">
        <div class="col-auto">
          <img id="image-logo" src="{% static 'account/img/eray.jpg' %}" alt="Logo" style="height: 70px;"> 
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}"><i class="ico ri-home-4-fill"></i> Actualité</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cours' %}"><i class="ico ri-bar-chart-box-fill"></i> Cours</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'edt' %}"><i class="ico ri-calendar-2-line"></i> Emploi du temps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'notes' %}"><i class="ico ri-article-fill"></i> Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'absence' %}"><i class="ico bx bx-note"></i> Absence</a>
            </li> 
          </ul>

        <div class="col-sm-1">
          <a href="#" class="addEtudiantlink" id="openFormBtn">
            <div class="addEtudiant">
              <span class="text-etudiant">Ajouter étudiant</span>
              <i class="ri-user-add-fill"></i>
            </div>
          </a>
        </div>
        <a href="{% url 'logout' %}"><button class="logout btn" >Déconnexion<i class="lgico ri-logout-circle-r-line"></i></button> </a>
        </div>
        {% comment %} <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}" role="button">
                    <span class="d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                        <img class="img-profile rounded-circle"
                        src="{% static 'account/img/undraw_profile.svg' %}">
                </a>
            </li>
        </ul>
      </div> {% endcomment %}
    </nav>
  </header>

<!--Pop-up étudiant-->
  <div id="popupForm" class="form-popup">
    <div class="form-container">
        <h2>Formulaire d'inscription</h2>
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <label for="nom">Nom:</label>
                    <input type="text" id="nom" name="nom" required>
                </div>
                <div class="col-sm-6">
                    <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" name="prenom" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="filiere">Filière:</label>
                    <input type="text" id="filiere" name="filiere" required>
                </div>
                <div class="col-sm-6">
                    <label for="annee">Année Académique:</label>
            <select id="annee" name="" required>
                <option value="">Sélectionner une année</option>
                <option value="2023-2024">L1</option>
                <option value="2024-2025">L2</option>
                <option value="2025-2026">L3</option>
                <option value="2025-2026">M1</option>
                <option value="2025-2026">M2</option>
            </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
    
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" required>
    
                </div>
                <div class="col-sm-6">
                    <label for="annee">Type:</label>
            <select id="annee" name="" required>
                <option value="">Etudiant ou prof</option>
                <option value="2023-2024">Professeur</option>
                <option value="2024-2025">Etudiant</option>
            </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" id="envoyer" class="cancel-btn">Envoyer</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" id="closeFormBtn" class="cancel-btn">Fermer</button>
                </div>
            </div>
        </form>
    </div>
</div>


    

{% block content %}
    

{% endblock content %}

               <!-- Bootstrap core JavaScript-->
    <script src="{% static 'account/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'account/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'account/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'account/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'account/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'account/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'account/js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>